<!doctype html>
<html ng-app="migApp">

<head>
    <!--    <meta charset="utf-8">-->

    <title>
        Mig
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>-->
    <!--    <script data-require="ui-router@0.2.12" data-semver="0.2.15" src="//rawgit.com/angular-ui/ui-router/0.2.15/release/angular-ui-router.js"></script>-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
    <script src="./scripts/app.js"></script>

    <!--    <link rel="stylesheet" type="text/css" href="./styles/migController.css">-->
</head>

<body>
    <div ng-controller="migController" layout="column">
        <section flex layout="row">
            <div flex="66" layout="column">
                <div flex>
                    <h2 flex style="font-family: 'Eczar', serif; font-size:40px ">Mozilla Investigator</h2>
                    <h3 flex> Mozilla's real-time digital forensics and investigation platform </h3>
                </div>
                <div flex>
                    <!--                    <md-button flex class="md-raised md-primary">Modules</md-button>-->

                    <md-menu flex>
                        <md-button aria-label="Modules" class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">
                            Modules
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="">
                                    File
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="">
                                    Memory
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="">
                                    NetStat
                                </md-button>
                            </md-menu-item>
                            <!--TODO: add more buttons-->
                        </md-menu-content>
                    </md-menu>

                    <md-button flex class="md-raised md-primary">Generate Order?</md-button>
                </div>
            </div>
            <div flex="33" layout="column">
                <span flex></span>
                <img style="width:100%; height:auto;" src="./styles/img/mig_logo.png " alt="mig logo ">
                <span flex></span>
            </div>

        </section>
        <div flex>

        </div>
    </div>
</body>

</html>