<!doctype html>
<html ng-app="migApp">

<head>
    <!--    <meta charset="utf-8">-->

    <title>
        Mig
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>-->
    <!--    <script data-require="ui-router@0.2.12" data-semver="0.2.15" src="//rawgit.com/angular-ui/ui-router/0.2.15/release/angular-ui-router.js"></script>-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
    <script src="./scripts/app.js"></script>
    <script src="./scripts/controller/createOrderController.js"></script>
    <!--    <link rel="stylesheet" type="text/css" href="./styles/migController.css">-->
</head>

<body>
    <!--    <div w3-include-html="./view/createOrder.tmpl.html"></div>-->
    <div ng-controller="migController" layout="column">
        <!--    <div w3-include-html="./view/createOrder.tmpl.html"></div>-->
        <!--        <div ng-include src="'./view/createOrder.tmpl.html'"></div>-->
        <section flex layout="row">
            <div flex="50" layout="column">
                <div flex>
                    <h2 flex style="font-family: 'Eczar', serif; font-size:40px; margin-bottom:0; margin-top:0; margin-left:2%;">Mozilla Investigator</h2>
                    <h3 style="margin-left:10%; margin-top:0;"> Mozilla's real-time digital forensics and investigation platform </h3>
                </div>
                <div flex layout="row" layout-align="space-around center">
                    <!--                    <md-button flex class="md-raised md-primary">Modules</md-button>-->
                    <div>
                        <md-menu md-position-mode="target-right target">
                            <md-button aria-label="Modules" class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
                                Modules
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="open()">
                                        File
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="">
                                        Memory
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="">
                                        NetStat
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="">
                                        Package
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="">
                                        Scribe
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="">
                                        Ping
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="">
                                        TimeDrift
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                    </div>
                    <div>
                        <md-button ui-sref="createOrder" class="md-primary md-raised" ng-click="createOrder($event)">
                            Create Order?
                        </md-button>
                    </div>
                </div>
            </div>
            <div flex="40" layout="column">
                <span flex></span>
                <img style="width:100%; height:auto;" src="./styles/img/mig_logo.png " alt="mig logo">
                <span flex></span>
            </div>
            <div flex="10">

            </div>

        </section>
        <br>
        <md-divider></md-divider>
        <md-whiteframe style="margin:10px; padding-left:10px; background-color:#F3E5F5 " class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="column" layout-align="space-around none">
            <h2>Latest Actions</h2>
            <div layout="row">
                <div flex layout="column">
                    <h3>ID</h3>
                    <p>dfsdf</p>
                    <p>dfsdf</p>
                    <p>dfsdf</p>
                </div>
                <div flex layout="column">
                    <h3>Name</h3>
                    <p>dfsdf</p>
                    <p>dfsdf</p>
                    <p>dfsdf</p>

                </div>
                <div flex layout="column">
                    <h3>Sent</h3>
                    <p>dfsdf</p>
                    <p>dfsdf</p>
                    <p>dfsdf</p>

                </div>
                <div flex layout="column">
                    <h3>Date</h3>
                    <p>dfsdf</p>
                    <p>dfsdf</p>
                    <p>dfsdf</p>

                </div>
                <div flex layout="column">
                    <h3>Investigators</h3>
                    <p>dfsdf</p>
                    <p>dfsdf</p>
                    <p>dfsdf</p>

                </div>
            </div>

        </md-whiteframe>


        <md-whiteframe style="margin:10px; padding-left:10px; background-color: #FAFAFA " class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="row" ng-if="file">
            <div flex layout="column">
                <h3>INPUTS</h3>
                <div>
                    <md-input-container>
                        <label>Path</label>
                        <input ng-model="path">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="name">
                    </md-input-container>
                </div>
                <div>
                    Size:
                    <md-input-container>
                        <md-select ng-model="sym">
                            <md-option value="less">
                                less than
                            </md-option>
                            <md-option value="eq">
                                equal to
                            </md-option>
                            <md-option value="gr">
                                greater than
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <!--            <md-divider style="transform: rotate(90deg);"></md-divider>-->
            <div flex>
                <h3>OUTPUT</h3>

            </div>
        </md-whiteframe>






        <script type="text/ng-template" id="createOrder.tmpl.html">
            <md-dialog aria-label="Orders" ng-cloak>
                <form>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Orders</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon md-svg-src="./styles/img/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-dialog-content>
                        <div class="md-dialog-content" layout-align="center center" layout="column">
                            <h2>The following orders are available</h2>
                            <ul style="list-style: none;">
                                <li>
                                    <md-button class="md-primary" ng-click="action($event)">Action</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">Investigator</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">Loader Entry</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">Manifest</md-button>
                                </li>
                            </ul>
                        </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <md-button>
                            Cancel
                        </md-button>
                        <span flex></span>
                        <md-button ng-click="answer('useful')" md-autofocus>
                            Okay
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </script>

        <script type="text/ng-template" id="action.tmpl.html">
            <md-dialog aria-label="Orders" ng-cloak>
                <form>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Orders</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon md-svg-src="./styles/img/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-dialog-content>
                        <div class="md-dialog-content" layout-align="center center" layout="column">
                            <h2>The following orders are available under action</h2>
                            <ul style="list-style: none;">
                                <li>
                                    <md-button class="md-primary" ng-click="action($event)">add operation</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">compress</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">listagents</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">deloperation</md-button>
                                </li>
                                <li>
                                    <md-button class="md-primary">details</md-button>
                                </li>
                            </ul>
                        </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <md-button>
                            Cancel
                        </md-button>
                        <span flex></span>
                        <md-button ng-click="answer('useful')" md-autofocus>
                            Okay
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </script>






    </div>
    <!--    <ui-view></ui-view>-->
</body>

</html>