<md-content class="md-padding">
    <md-toolbar id="actionToolbar" ng-click="showDashboard=!showDashboard">
        <div class="md-toolbar-tools">
            <span flex></span>
            <h2 style="cursor: pointer" ng-click="showAction(1)"><span>Reader Mode</span></h2>
            <span flex></span>
            <h2 style="cursor: pointer" ng-click="showAction(2)"><span>Command Mode</span></h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div class="frame md-whiteframe-glow-z1" ng-if="showReader" layout-padding>
        <div laytou="column">
            <div flex>

                <h3>
            Action:
        </h3>
                <p> file -c /home/ulfr/.migrc-lnw -path /etc -name ^passwd -content julien</p>
            </div>
            <div flex>
                Launched by
                <p>'Julien Vehent'</p>
                on
                <p>
                    '2015-09-29 11:40:31.792627 -0400 EDT'
                </p>
            </div>
            <div flex>
                <h3>Status:</h3>
                <p>completed</p>
            </div>

            <div flex>
                <h4>
                    sent:2
                </h4>
                <h4>
                    done:2
                </h4>
                <h4>
                    succeeded:2
                </h4>
            </div>
        </div>
    </div>

    <div class="frame md-whiteframe-glow-z1" ng-if="showCommand" layout-padding>
        command
    </div>
</md-content>