<md-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Reader Mode">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab One</h1>
                <div laytou="column">
                    <div flex>

                        <h3>
            Action:
        </h3>
                        <pre> file -c /home/ulfr/.migrc-lnw -path /etc -name ^passwd -content julien</pre>
                    </div>
                    <div flex>
                        Launched by: <strong><i>Julien Vehent</i></strong>
                        <br> Launched on: <pre>2015-09-29 11:40:31.792627 -0400 EDT</pre>

                    </div>
                    <div flex>
                        <h3>Status:</h3>
                        <p>completed</p>
                    </div>

                    <div flex>
                        <h4>
                    sent:2
                </h4>
                        <h4>
                    done:2
                </h4>
                        <h4>
                    succeeded:2
                </h4>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Command Mode">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Two</h1>

            </md-content>
        </md-tab>

        <md-tab label="Action Launcher Mode">
            <md-content class="md-padding">
                <p>Generate new action using current action as a template:</p>
                <br>
                <md-input-container>
                    <label>Set Name</label>
                    <input required ng-model="name">
                </md-input-container>
                <br>
                <div layout="row">
                    <p> Set Counters: </p>
                    <div layout="column">
                        <md-input-container>
                            <label>Done</label>
                            <input name="done" ng-model="done" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                        <md-input-container>
                            <label>Inflight</label>
                            <input name="inflight" ng-model="inflight" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <label>Sent</label>
                            <input name="sent" ng-model="sent" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                        <md-input-container>
                            <label>Success</label>
                            <input name="success" ng-model="success" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <p> Description: </p>
                    <div layout="column">
                        <md-input-container>
                            <label>Author</label>
                            <input required ng-model="author">
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label>
                            <input required type="email" ng-model="Email">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container>
                            <label>revision</label>
                            <input name="rev" ng-model="revision" required ng-pattern="" md-maxlength="">
                        </md-input-container>
                    </div>
                </div>
                <md-input-container>
                    <label>Expire After</label>
                    <input name="ea" ng-model="expreAfter" required ng-pattern="" md-maxlength="">
                </md-input-container>
                <br>
                <md-input-container>
                    <label>Finish Time</label>
                    <input name="ea" ng-model="expreAfter" required ng-pattern="" md-maxlength="">
                </md-input-container>
                <br>
                <div layout="row">
                    <p>Id: </p> <pre><!--{{id}}--> blahblahblah</pre>
                </div>
                <!--TODO: give functionality of adding new operations and deleting operations-->
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>