<md-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Reader Mode">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab One</h1>
                <div laytou="column">
                    <div flex>

                        <h3>
            Action:
        </h3>
                        <pre> file -c /home/ulfr/.migrc-lnw -path /etc -name ^passwd -content julien</pre>
                    </div>
                    <div flex>
                        Launched by: <strong><i>Julien Vehent</i></strong>
                        <br> Launched on: <pre>2015-09-29 11:40:31.792627 -0400 EDT</pre>

                    </div>
                    <div flex>
                        <h3>Status:</h3>
                        <p>completed</p>
                    </div>

                    <div flex>
                        <h4>
                    sent:2
                </h4>
                        <h4>
                    done:2
                </h4>
                        <h4>
                    succeeded:2
                </h4>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Command Mode">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Two</h1>

            </md-content>
        </md-tab>
        <md-tab label="Action Launcher Mode">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>

            </md-content>
        </md-tab>
    </md-tabs>
</md-content>